<%= form_with(model: daily_sale, local: true) do |form| %>
  <% if daily_sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(daily_sale.errors.count, "error") %> prohibited this daily_sale from being saved:</h2>

      <ul>
      <% daily_sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_name %>
    <%= form.text_field :product_name, id: :daily_sale_product_name %>
  </div>

  <div class="field">
    <%= form.label :customer_name %>
    <%= form.text_field :customer_name, id: :daily_sale_customer_name %>
  </div>

  <div class="field">
    <%= form.label :pri_quantity %>
    <%= form.number_field :pri_quantity, id: :daily_sale_pri_quantity %>
  </div>

  <div class="field">
    <%= form.label :sec_quantity %>
    <%= form.number_field :sec_quantity, id: :daily_sale_sec_quantity %>
  </div>

  <div class="field">
    <%= form.label :pri_rate %>
    <%= form.number_field :pri_rate, id: :daily_sale_pri_rate %>
  </div>

  <div class="field">
    <%= form.label :sec_rate %>
    <%= form.number_field :sec_rate, id: :daily_sale_sec_rate %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.number_field :total, id: :daily_sale_total %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
