<p id="notice"><%= notice %></p>

<h1>Daily Sales</h1>

<table>
  <thead>
    <tr>
      <th>Product name</th>
      <th>Customer name</th>
      <th>Pri quantity</th>
      <th>Sec quantity</th>
      <th>Pri rate</th>
      <th>Sec rate</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @daily_sales.each do |daily_sale| %>
      <tr>
        <td><%= daily_sale.product_name %></td>
        <td><%= daily_sale.customer_name %></td>
        <td><%= daily_sale.pri_quantity %></td>
        <td><%= daily_sale.sec_quantity %></td>
        <td><%= daily_sale.pri_rate %></td>
        <td><%= daily_sale.sec_rate %></td>
        <td><%= daily_sale.total %></td>
        <td><%= link_to 'Show', daily_sale %></td>
        <td><%= link_to 'Edit', edit_daily_sale_path(daily_sale) %></td>
        <td><%= link_to 'Destroy', daily_sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daily Sale', new_daily_sale_path %>
