<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @daily_sale.product_name %>
</p>

<p>
  <strong>Customer name:</strong>
  <%= @daily_sale.customer_name %>
</p>

<p>
  <strong>Pri quantity:</strong>
  <%= @daily_sale.pri_quantity %>
</p>

<p>
  <strong>Sec quantity:</strong>
  <%= @daily_sale.sec_quantity %>
</p>

<p>
  <strong>Pri rate:</strong>
  <%= @daily_sale.pri_rate %>
</p>

<p>
  <strong>Sec rate:</strong>
  <%= @daily_sale.sec_rate %>
</p>

<p>
  <strong>Total:</strong>
  <%= @daily_sale.total %>
</p>

<%= link_to 'Edit', edit_daily_sale_path(@daily_sale) %> |
<%= link_to 'Back', daily_sales_path %>
