<p id="notice"><%= notice %></p>

<h1>Monthly Sales</h1>

<table>
  <thead>
    <tr>
      <th>Product name</th>
      <th>Customer name</th>
      <th>Pri quantity</th>
      <th>Sec quantity</th>
      <th>Pri rate</th>
      <th>Sec rate</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monthly_sales.each do |monthly_sale| %>
      <tr>
        <td><%= monthly_sale.product_name %></td>
        <td><%= monthly_sale.customer_name %></td>
        <td><%= monthly_sale.pri_quantity %></td>
        <td><%= monthly_sale.sec_quantity %></td>
        <td><%= monthly_sale.pri_rate %></td>
        <td><%= monthly_sale.sec_rate %></td>
        <td><%= monthly_sale.total %></td>
        <td><%= link_to 'Show', monthly_sale %></td>
        <td><%= link_to 'Edit', edit_monthly_sale_path(monthly_sale) %></td>
        <td><%= link_to 'Destroy', monthly_sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monthly Sale', new_monthly_sale_path %>
