<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @monthly_sale.product_name %>
</p>

<p>
  <strong>Customer name:</strong>
  <%= @monthly_sale.customer_name %>
</p>

<p>
  <strong>Pri quantity:</strong>
  <%= @monthly_sale.pri_quantity %>
</p>

<p>
  <strong>Sec quantity:</strong>
  <%= @monthly_sale.sec_quantity %>
</p>

<p>
  <strong>Pri rate:</strong>
  <%= @monthly_sale.pri_rate %>
</p>

<p>
  <strong>Sec rate:</strong>
  <%= @monthly_sale.sec_rate %>
</p>

<p>
  <strong>Total:</strong>
  <%= @monthly_sale.total %>
</p>

<%= link_to 'Edit', edit_monthly_sale_path(@monthly_sale) %> |
<%= link_to 'Back', monthly_sales_path %>
