<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Pri quantity:</strong>
  <%= @product.pri_quantity %>
</p>

<p>
  <strong>Sec quantity:</strong>
  <%= @product.sec_quantity %>
</p>

<p>
  <strong>Pri rate:</strong>
  <%= @product.pri_rate %>
</p>

<p>
  <strong>Sec rate:</strong>
  <%= @product.sec_rate %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
