<%= form_with(model: sale, local: true) do |form| %>
  <% if sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_name %>
    <%= form.collection_select :product_name, Product.all,:id,:product_name, include_blank: true %>  </div>

  <div class="field">
    <%= form.label :customer_name %>
    <%= form.text_field :customer_name, id: :sale_customer_name %>
  </div>

  <div class="field">
    <%= form.label :pri_quantity %>
    <%= form.number_field :pri_quantity, id: :sale_pri_quantity %>
  </div>

  <div class="field">
    <%= form.label :sec_quantity %>
    <%= form.number_field :sec_quantity, id: :sale_sec_quantity %>
  </div>

  <div class="field">
    <%= form.label :pri_rate %>
    <%= form.number_field :pri_rate, id: :sale_pri_rate %>
  </div>

  <div class="field">
    <%= form.label :sec_rate %>
    <%= form.number_field :sec_rate, id: :sale_sec_rate %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.number_field :total, id: :sale_total %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
