<h1>Sales</h1>

<table>
  <thead>
    <tr>
      <th>Product name</th>
      <th>Customer name</th>
      <th>Pri quantity</th>
      <th>Sec quantity</th>
      <th>Pri rate</th>
      <th>Sec rate</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.product_name %></td>
        <td><%= sale.customer_name %></td>
        <td><%= sale.pri_quantity %></td>
        <td><%= sale.sec_quantity %></td>
        <td><%= sale.pri_rate %></td>
        <td><%= sale.sec_rate %></td>
        <td><%= sale.total %></td>
        <td><%= link_to 'Show', sale %></td>
        <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
        <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale', new_sale_path %>
