<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @sale.product_name %>
</p>

<p>
  <strong>Customer name:</strong>
  <%= @sale.customer_name %>
</p>

<p>
  <strong>Pri quantity:</strong>
  <%= @sale.pri_quantity %>
</p>

<p>
  <strong>Sec quantity:</strong>
  <%= @sale.sec_quantity %>
</p>

<p>
  <strong>Pri rate:</strong>
  <%= @sale.pri_rate %>
</p>

<p>
  <strong>Sec rate:</strong>
  <%= @sale.sec_rate %>
</p>

<p>
  <strong>Total:</strong>
  <%= @sale.total %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
